<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectDealList">
		SELECT 
		       BIDDING_NO
		     , PRODUCT_SIZE
		     , BIDDING_PRICE
		     , TO_CHAR(DEAL_DATE, 'RRRR/MM/DD') "DEAL_DATE"
		  FROM TB_BIDDING
		 WHERE BIDDING_STATUS = 'Y'
		   AND DEAL_CHECK = 'Y'
		   AND PRODUCT_CODE = ?
		 ORDER
		    BY DEAL_DATE DESC
	</entry>
	
	<entry key="selectBuyBiddingList">
		SELECT
		       PRODUCT_SIZE
		     , BIDDING_PRICE
		     , COUNT(*) "COUNT"
		  FROM TB_BIDDING
		 WHERE BIDDING_STATUS = 'Y'
		   AND BIDDING_TYPE = 1
		   AND DEAL_CHECK = 'N'
		   AND PRODUCT_CODE = ?
		 GROUP
		    BY PRODUCT_SIZE, BIDDING_PRICE
		 ORDER
		    BY BIDDING_PRICE DESC
	</entry>
	
	<entry key="selectSellBiddingList">
		SELECT
		       PRODUCT_SIZE
		     , BIDDING_PRICE
		     , COUNT(*) "COUNT"
		  FROM TB_BIDDING
		 WHERE BIDDING_STATUS = 'Y'
		   AND BIDDING_TYPE = 2
		   AND DEAL_CHECK = 'N'
		   AND PRODUCT_CODE = ?
		 GROUP
		    BY PRODUCT_SIZE, BIDDING_PRICE
		 ORDER
		    BY BIDDING_PRICE
	</entry>
	
	<entry key="selectDealSizeList">
		SELECT 
		       BIDDING_NO
		     , PRODUCT_SIZE
		     , BIDDING_PRICE
		     , TO_CHAR(DEAL_DATE, 'RRRR/MM/DD') "DEAL_DATE"
		  FROM TB_BIDDING
		 WHERE BIDDING_STATUS = 'Y'
		   AND DEAL_CHECK = 'Y'
		   AND PRODUCT_CODE = ?
		   AND PRODUCT_SIZE = ?
		 ORDER
		    BY DEAL_DATE DESC
	</entry>
	
	<entry key="selectSellBiddingSizeList">
		SELECT
		       PRODUCT_SIZE
		     , BIDDING_PRICE
		     , COUNT(*) "COUNT"
		  FROM TB_BIDDING
		 WHERE BIDDING_STATUS = 'Y'
		   AND BIDDING_TYPE = 2
		   AND DEAL_CHECK = 'N'
		   AND PRODUCT_CODE = ?
		   AND PRODUCT_SIZE = ?
		 GROUP
		    BY PRODUCT_SIZE, BIDDING_PRICE
		 ORDER
		    BY BIDDING_PRICE
	</entry>
	
	<entry key="selectBuyBiddingSizeList">
		SELECT
		       PRODUCT_SIZE
		     , BIDDING_PRICE
		     , COUNT(*) "COUNT"
		  FROM TB_BIDDING
		 WHERE BIDDING_STATUS = 'Y'
		   AND BIDDING_TYPE = 1
		   AND DEAL_CHECK = 'N'
		   AND PRODUCT_CODE = ?
		   AND PRODUCT_SIZE = ?
		 GROUP
		    BY PRODUCT_SIZE, BIDDING_PRICE
		 ORDER
		    BY BIDDING_PRICE DESC
	</entry>
	
	<entry key="selectSellBiddingPriceList">
		SELECT
		       PRODUCT_SIZE
		     , MIN(BIDDING_PRICE) "BIDDING_PRICE"
		  FROM TB_BIDDING
		 WHERE BIDDING_STATUS = 'Y'
		   AND BIDDING_TYPE = 2
		   AND DEAL_CHECK = 'N'
		   AND PRODUCT_CODE = ?
		 GROUP
		    BY PRODUCT_SIZE
		 ORDER
		    BY PRODUCT_SIZE
	</entry>
	
	<entry key="selectBuyBiddingPriceList">
		SELECT
		       PRODUCT_SIZE
		     , MAX(BIDDING_PRICE) "BIDDING_PRICE"
		  FROM TB_BIDDING
		 WHERE BIDDING_STATUS = 'Y'
		   AND BIDDING_TYPE = 1
		   AND DEAL_CHECK = 'N'
		   AND PRODUCT_CODE = ?
		 GROUP
		    BY PRODUCT_SIZE
		 ORDER
		    BY PRODUCT_SIZE
	</entry>
	
	<entry key="selectSellBidding">
		SELECT
		       ROWNUM
		     , BIDDING_NO
		     , PRODUCT_CODE
		     , PRODUCT_SIZE
		     , BIDDING_PRICE
		     , DELIVERY_FEE
		  FROM (SELECT
		               ROWNUM
		             , BIDDING_NO
		             , PRODUCT_CODE
		             , PRODUCT_SIZE
		             , BIDDING_PRICE
		             , DELIVERY_FEE
		          FROM TB_BIDDING
		         WHERE BIDDING_TYPE = 2
		           AND DEAL_CHECK = 'N'
		           AND PRODUCT_CODE = ?
		           AND PRODUCT_SIZE = ?
		           AND BIDDING_PRICE = ?
		         ORDER
		            BY BIDDING_DATE ASC)
		 WHERE ROWNUM = 1
	</entry>
</properties>