<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectNoticeCount">
		SELECT
			   COUNT(*) "COUNT"
	      FROM TB_NOTICE
	     WHERE DISPLAY_STATUS = 'Y'
	       AND DELETE_STATUS = 'N'
	</entry>
	
	<entry key="selectNoticeList">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, N.*
		          FROM (
		                SELECT
		                       NOTICE_NO
		                     , NOTICE_TITLE
		                     , TO_CHAR(CREATE_DATE, 'YYYY.MM.DD') "CREATE_DATE"
		                     , COUNT
		                     , DISPLAY_STATUS
		                     , USER_NAME "NOTICE_WRITER"
		                  FROM TB_NOTICE
		                  JOIN TB_USER ON (USER_NO = NOTICE_WRITER)
		                 WHERE DISPLAY_STATUS = 'Y'
		                   AND DELETE_STATUS = 'N'
		                 ORDER
		                    BY NOTICE_NO DESC
		                ) N
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchNoticeAllCount">
		SELECT
			   COUNT(*) "COUNT"
	      FROM TB_NOTICE
	     WHERE DISPLAY_STATUS = 'Y'
	       AND DELETE_STATUS = 'N'
	       AND (NOTICE_TITLE LIKE '%' || ? || '%') OR (NOTICE_CONTENT LIKE '%' || ? || '%')
	</entry>
	
	<entry key="searchNoticeTitleCount">
		SELECT
			   COUNT(*) "COUNT"
	      FROM TB_NOTICE
	     WHERE DISPLAY_STATUS = 'Y'
	       AND DELETE_STATUS = 'N'
	       AND NOTICE_TITLE LIKE '%' || ? || '%'
	</entry>

	<entry key="searchNoticeContentCount">
		SELECT
			   COUNT(*) "COUNT"
	      FROM TB_NOTICE
	     WHERE DISPLAY_STATUS = 'Y'
	       AND DELETE_STATUS = 'N'
	       AND NOTICE_CONTENT LIKE '%' || ? || '%'
	</entry>
	
	<entry key="searchNoticeListAll">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, N.*
		          FROM (
		                SELECT
		                       NOTICE_NO
		                     , NOTICE_TITLE
		                     , TO_CHAR(CREATE_DATE, 'YYYY.MM.DD') "CREATE_DATE"
		                     , COUNT
		                     , DISPLAY_STATUS
		                     , USER_NAME "NOTICE_WRITER"
		                  FROM TB_NOTICE
		                  JOIN TB_USER ON (USER_NO = NOTICE_WRITER)
		                 WHERE DISPLAY_STATUS = 'Y'
		                   AND DELETE_STATUS = 'N'
                           AND NOTICE_TITLE LIKE '%' || ? || '%' OR NOTICE_CONTENT LIKE '%' || ? || '%'
		                 ORDER
		                    BY NOTICE_NO DESC
		                ) N
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchNoticeListTitle">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, N.*
		          FROM (
		                SELECT
		                       NOTICE_NO
		                     , NOTICE_TITLE
		                     , TO_CHAR(CREATE_DATE, 'YYYY.MM.DD') "CREATE_DATE"
		                     , COUNT
		                     , DISPLAY_STATUS
		                     , USER_NAME "NOTICE_WRITER"
		                  FROM TB_NOTICE
		                  JOIN TB_USER ON (USER_NO = NOTICE_WRITER)
		                 WHERE DISPLAY_STATUS = 'Y'
		                   AND DELETE_STATUS = 'N'
                           AND NOTICE_TITLE LIKE '%' || ? || '%'
		                 ORDER
		                    BY NOTICE_NO DESC
		                ) N
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchNoticeListContent">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, N.*
		          FROM (
		                SELECT
		                       NOTICE_NO
		                     , NOTICE_TITLE
		                     , TO_CHAR(CREATE_DATE, 'YYYY.MM.DD') "CREATE_DATE"
		                     , COUNT
		                     , DISPLAY_STATUS
		                     , USER_NAME "NOTICE_WRITER"
		                  FROM TB_NOTICE
		                  JOIN TB_USER ON (USER_NO = NOTICE_WRITER)
		                 WHERE DISPLAY_STATUS = 'Y'
		                   AND DELETE_STATUS = 'N'
                           AND NOTICE_CONTENT LIKE '%' || ? || '%'
		                 ORDER
		                    BY NOTICE_NO DESC
		                ) N
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="increaseNoticeCount">
		UPDATE TB_NOTICE
		   SET COUNT = COUNT+1
		 WHERE NOTICE_NO = ?
		   AND DISPLAY_STATUS = 'Y'
		   AND DELETE_STATUS = 'N'
	</entry>
	
	<entry key="selectNoticeDetail">
		SELECT 
			   NOTICE_NO
			 , NOTICE_TITLE
			 , NOTICE_CONTENT
			 , TO_CHAR(CREATE_DATE, 'YYYY.MM.DD') "CREATE_DATE"
			 , COUNT
		  FROM TB_NOTICE
		 WHERE DISPLAY_STATUS = 'Y'
		   AND DELETE_STATUS = 'N'
		   AND NOTICE_NO = ?
	</entry>
	
	<!-- faq -->
	<entry key="selectFaqListCountAll">
		SELECT
			   COUNT(*) "COUNT"
	      FROM TB_FAQ
	     WHERE STATUS = 'Y'
	</entry>
	
	<entry key="selectFaqListAll">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, F.*
		          FROM (
		                SELECT
		                       FAQ_NO
		                     , FAQ_QUESTION
                             , FAQ_ANSWER
                             , CATEGORY
		                  FROM TB_FAQ
		                 WHERE STATUS = 'Y'
		                 ORDER
		                    BY CATEGORY DESC
		                ) F
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectFaqListCount">
		SELECT
			   COUNT(*) "COUNT"		                      
          FROM TB_FAQ
         WHERE STATUS = 'Y'
           AND CATEGORY = ?
	</entry>
	
	<entry key="selectFaqList">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, F.*
		          FROM (
		                SELECT
		                       FAQ_NO
		                     , FAQ_QUESTION
                             , FAQ_ANSWER
                             , CATEGORY
		                  FROM TB_FAQ
		                 WHERE STATUS = 'Y'
                           AND CATEGORY = ?
		                 ORDER
		                    BY FAQ_NO DESC
		                ) F
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- faq 검색 결과 -->
	<entry key="selectFaqSearchCount">
			SELECT
			   COUNT(*) "COUNT"		                      
          FROM TB_FAQ
         WHERE STATUS = 'Y'
           AND FAQ_QUESTION LIKE '%' || ? || '%'
            OR FAQ_ANSWER LIKE '%' || ? || '%'
	</entry>
	
	<entry key="selectFaqSearchList">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, F.*
		          FROM (
		                SELECT
		                       FAQ_NO
		                     , FAQ_QUESTION
                             , FAQ_ANSWER
                             , CATEGORY
		                  FROM TB_FAQ
		                 WHERE STATUS = 'Y'
                           AND FAQ_QUESTION LIKE '%' || ? || '%'
            				OR FAQ_ANSWER LIKE '%' || ? || '%'
		                 ORDER
		                    BY FAQ_NO DESC
		                ) F
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 1:1문의 조회 -->
	<entry key="selectInquireCount">
		SELECT
			   COUNT(*) "COUNT"		                      
          FROM TB_INQUIRE
         WHERE INQUIRE_STATUS = 'Y'
           AND INQUIRE_USER = ?
	</entry>
	
	<entry key="selectInquireList">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, I.*
		          FROM (
		                SELECT
		                       INQUIRE_NO
		                     , INQUIRE_TITLE
		                     , INQUIRE_CONTENT
                             , TO_CHAR(INQUIRE_DATE, 'YYYY.MM.DD') "INQUIRE_DATE"
                             , INQUIRE_IMG
                             , ANSWER_CONTENT
                             , TO_CHAR(ANSWER_MODIFY_DATE, 'YYYY.MM.DD') "ANSWER_MODIFY_DATE"
                             , ANSWER_STATUS
                             , CATEGORY
		                  FROM TB_INQUIRE
		                 WHERE INQUIRE_STATUS = 'Y'
                           AND INQUIRE_USER = ?
		                 ORDER
		                    BY INQUIRE_NO DESC
		                ) I
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 1:1문의 삭제 -->
	<entry key="deleteInquire">
		UPDATE TB_INQUIRE
		   SET INQUIRE_STATUS = 'N'
		 WHERE INQUIRE_NO = ?
	</entry>
	
	<!-- 1:1 문의 등록 -->
	<entry key="insertInquire">
		INSERT
		  INTO TB_INQUIRE
			  (
			    INQUIRE_NO
			  , INQUIRE_TITLE
			  , INQUIRE_CONTENT
			  , INQUIRE_IMG
			  , INQUIRE_USER
			  , CATEGORY
			  )	
			  VALUES
			  (
			  	SEQ_INO.NEXTVAL
			  , ?
			  , ?
			  , ?
			  , ?
			  , ?
			  )
	</entry>
	
	<!-- 어드민 -->
	
	<!-- 공지사항 -->
	<entry key="insertNotice">
		INSERT
		  INTO TB_NOTICE
		  	 ( 
		  	   NOTICE_NO
		  	 , NOTICE_TITLE
		  	 , NOTICE_CONTENT
		  	 , DISPLAY_STATUS
		  	 , NOTICE_WRITER
		  	  )
		  	 VALUES
		  	 (
		  	   SEQ_NNO.NEXTVAL
		  	 , ?
		  	 , ?
		  	 , ?
		  	 , ?
		  	 )
		
	</entry>
</properties>