<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM TB_STYLE
		 WHERE STATUS = 'Y'
	</entry>
	
	<entry key="selectSearchListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM TB_STYLE
		 WHERE STATUS = 'Y'
		   AND HASHTAG LIKE '%' || ? || '%'
	</entry>

	<entry key="selectStyleList">
		SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT
		                       STYLE_NO
		                     , PROFILE_IMG
		                     , COUNT
		                     , USER_NICKNAME
		                     , HASHTAG
		                  FROM (SELECT
		                               STYLE_NO
		                             , COUNT(*) "COUNT"
		                          FROM TB_STYLE_LIKE
		                         GROUP
		                            BY STYLE_NO
		                         ORDER
		                            BY COUNT DESC)
		                  RIGHT JOIN TB_STYLE S USING (STYLE_NO)
		                  JOIN TB_USER USING (USER_NO)
		                 WHERE S.STATUS = 'Y'
		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectStyleImgList">
		SELECT
		       IMG_NO
		     , CHANGE_NAME
		     , FILE_PATH
		     , STYLE_NO
		     , FILE_LEVEL
		  FROM TB_STYLE_IMG
		 WHERE STATUS = 'Y'
	</entry>
	
	<entry key="selectTagList">
		SELECT *
		  FROM (SELECT
				       ROWNUM RNUM
				     , A.*
				  FROM (SELECT
				               HASHTAG_NO
				             , KEYWORD
				          FROM TB_HASHTAG
				         ORDER
				            BY COUNT DESC
				        ) A
				)
		 WHERE RNUM BETWEEN 1 AND 6
	</entry>
	
	<entry key="selectNewStyleList">
		SELECT *
		  FROM (
		        SELECT
				       ROWNUM RNUM
				     , A.*
				  FROM (
				        SELECT
				               STYLE_NO
				             , PROFILE_IMG
				             , COUNT
				             , USER_NICKNAME
				             , HASHTAG
				          FROM (SELECT
				                       STYLE_NO
				                     , COUNT(*) "COUNT"
				                  FROM TB_STYLE_LIKE
				                 GROUP
				                    BY STYLE_NO
				                )
				          RIGHT JOIN TB_STYLE S USING (STYLE_NO)
				          JOIN TB_USER USING (USER_NO)
				         WHERE S.STATUS = 'Y'
				         ORDER
				            BY STYLE_NO DESC
				                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectSearchList">
		SELECT
		       *
		  FROM (
		        SELECT
		       ROWNUM RNUM, A.*
		  FROM (
		        SELECT
				       STYLE_NO
				     , COUNT
				     , PROFILE_IMG
				     , USER_NICKNAME
				     , HASHTAG
				  FROM (
				        SELECT
				               STYLE_NO
				             , COUNT(*) COUNT
				          FROM TB_STYLE_LIKE
				         GROUP
				            BY STYLE_NO
				         ORDER
				            BY COUNT DESC
				        )
				  RIGHT JOIN TB_STYLE S USING (STYLE_NO)
				  JOIN TB_USER USING (USER_NO)
				 WHERE HASHTAG LIKE '%' || ? || '%'
				   AND S.STATUS = 'Y'
		                ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectPdAllList">
		SELECT
		       PRODUCT_CODE
		     , PRODUCT_NAME_KO
		     , PRODUCT_NAME_ENG
		     , PRODUCT_IMG_M
		     , BRAND_NAME
		  FROM TB_PRODUCT
		  JOIN TB_BRAND USING (BRAND_CODE)
		 WHERE BLIND_CHECK = 'N'
		 ORDER
		    BY PRODUCT_NAME_KO ASC
	</entry>
	
	<entry key="selectPdSearchList">
		SELECT
		       PRODUCT_CODE
		     , PRODUCT_NAME_KO
		     , PRODUCT_NAME_ENG
		     , PRODUCT_IMG_M
		     , BRAND_NAME
		  FROM TB_PRODUCT
		  JOIN TB_BRAND USING (BRAND_CODE)
		 WHERE BLIND_CHECK = 'N'
		   AND PRODUCT_NAME_KO LIKE '%' || ? || '%' 
		    OR PRODUCT_NAME_ENG LIKE '%' || ? || '%'
		 ORDER
		    BY PRODUCT_NAME_KO ASC
	</entry>
	
	<entry key="selectPCode">
		SELECT
		       PRODUCT_CODE
		     , PRODUCT_NAME_KO
		     , PRODUCT_NAME_ENG
		     , PRODUCT_IMG_M
		     , BRAND_NAME
		  FROM TB_PRODUCT
		  JOIN TB_BRAND USING (BRAND_CODE)
		 WHERE PRODUCT_CODE = ?
	</entry>
	
	<entry key="insertStyle">
		INSERT
		  INTO TB_STYLE
		  (
		    STYLE_NO
		  , STYLE_CONTENT
		  , HASHTAG
		  , USER_NO
		  )
		  VALUES
		  (
		    SEQ_SNO.nextval
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="insertStyleImg">
		INSERT
		  INTO TB_STYLE_IMG
		  (
		    IMG_NO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , FILE_PATH
		  , FILE_LEVEL
		  , STYLE_NO
		  )
		  VALUES
		  (
		    SEQ_SINO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , SEQ_SNO.CURRVAL
		  )
	</entry>
	
	<entry key="insertStylePd">
		INSERT
		  INTO TB_STYLE_PD
		  (
		    STYLE_NO
		  , PRODUCT_CODE
		  )
		  VALUES
		  (
		    SEQ_SNO.CURRVAL
		  , ?
		  )
	</entry>
	
	<entry key="selectHashtag">
		SELECT
		       HASHTAG_NO
		  FROM TB_HASHTAG
		 WHERE KEYWORD = ?
	</entry>
	
	<entry key="insertHashtag">
		INSERT
		  INTO TB_HASHTAG
		  (
		    HASHTAG_NO
		  , KEYWORD
		  )
		  VALUES
		  (
		    SEQ_HNO.NEXTVAL
		  , ?
		  )
	</entry>
	
	<entry key="updateHashtag">
		UPDATE
		       TB_HASHTAG
		   SET COUNT = COUNT + 1
		 WHERE KEYWORD = ?
	</entry>
	
	<entry key="selectStyleByNickname">
		SELECT *
		  FROM (
		        SELECT
				       ROWNUM RNUM
				     , A.*
				  FROM (
				        SELECT
				               STYLE_NO
				             , PROFILE_IMG
				             , COUNT
				             , USER_ID
				             , USER_NICKNAME
				             , INTRODUCE
				             , HASHTAG
				          FROM (SELECT
				                       STYLE_NO
				                     , COUNT(*) "COUNT"
				                  FROM TB_STYLE_LIKE
				                 GROUP
				                    BY STYLE_NO
				                )
				          RIGHT JOIN TB_STYLE S USING (STYLE_NO)
				          JOIN TB_USER USING (USER_NO)
				         WHERE S.STATUS = 'Y'
                           AND USER_NICKNAME = ?
				         ORDER
				            BY STYLE_NO DESC
				        ) A
		        )
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="checkLike">
		SELECT COUNT(*) COUNT
		  FROM TB_STYLE_LIKE
		 WHERE USER_NO = ? AND STYLE_NO = ?
	</entry>
	
	<entry key="deleteLike">
		DELETE 
		  FROM TB_STYLE_LIKE
		 WHERE USER_NO = ? AND STYLE_NO = ?
	</entry>
	
	<entry key="insertLike">
		INSERT
		  INTO TB_STYLE_LIKE
		  (
		    USER_NO
		  , STYLE_NO
		  )
		  VALUES
		  (
		    ?
		  , ?
		  )
	</entry>
	
</properties>