<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectStyleList">
		SELECT
		       STYLE_NO
		     , PROFILE_IMG
		     , COUNT
		     , USER_NICKNAME
		     , HASHTAG
		  FROM (SELECT
		               STYLE_NO
		             , COUNT(*) "COUNT"
		          FROM TB_STYLE_LIKE
		         GROUP
		            BY STYLE_NO
		         ORDER
		            BY COUNT DESC)
		  RIGHT JOIN TB_STYLE S USING (STYLE_NO)
		  JOIN TB_USER USING (USER_NO)
		 WHERE S.STATUS = 'Y'
	</entry>
	
	<entry key="selectStyleImgList">
		SELECT
		       IMG_NO
		     , CHANGE_NAME
		     , FILE_PATH
		     , STYLE_NO
		  FROM TB_STYLE_IMG
		 WHERE STATUS = 'Y'
	</entry>
	
</properties>