<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="userLogin">
		SELECT 
			   USER_NO
			 , USER_ID
			 , USER_PWD
			 , USER_NAME
			 , USER_NICKNAME
			 , PHONE
			 , EMAIL
			 , ENROLL_DATE
			 , STATUS
			 , DELETE_DATE
			 , MANAGER_CHECK
			 , USER_ACC_BANK
			 , USER_ACC_NUMBER
			 , SHOP_BLOCK_DATE
			 , STYLE_BLOCK_DATE
			 , INTRODUCE
			 , PROFILE_IMG
		  FROM TB_USER
		 WHERE USER_ID = ?
		   AND USER_PWD = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="insertUser">
		INSERT
		  INTO TB_USER
		  (
		  	USER_NO
		  , USER_ID
		  , USER_PWD
		  , USER_NAME
		  , USER_NICKNAME
		  , PHONE
		  , EMAIL
		  )
		  VALUES
		  (
		  	SEQ_UNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="insertAdd">
		INSERT
		  INTO TB_ADDRESS
		  (
		  	ADDRESS_NO
		  , ZIPCODE
		  , ADDRESS1
		  , ADDRESS2
		  , RECIPIENT
		  , PHONE
		  , DEFAULT_ADD
		  , USER_NO
		  )
		  VALUES
		  (
		  	SEQ_ANO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , 'Y'
		  , SEQ_UNO.CURRVAL
		  )
	</entry>
	
	<entry key="idCheck">
		SELECT
			   COUNT (*) "COUNT"
		  FROM TB_USER
		 WHERE USER_ID = ?
	</entry>
	
	<entry key="findId">
		SELECT
			   USER_NO
			 , USER_ID
			 , USER_NAME
			 , EMAIL
		  FROM TB_USER
		 WHERE USER_NAME = ?
		   AND EMAIL = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="findPwd">
		SELECT
			   USER_NO
			 , USER_ID
			 , USER_NAME
			 , EMAIL
		  FROM TB_USER
		 WHERE USER_ID = ?
		   AND USER_NAME = ?
		   AND EMAIL = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="setNewPwd">
		UPDATE TB_USER
		   SET USER_PWD = ?
		 WHERE USER_ID = ? 
	</entry>
	
	<entry key="deleteUser">
		UPDATE TB_USER
		   SET STATUS = 'N'
		  ,DELETE_DATE = SYSDATE
		 WHERE USER_ID = ?
		   AND USER_PWD = ?
		 
	</entry>
	


	<entry key="selectUserByNickname">
		SELECT
			   USER_NO
			 , USER_ID
			 , USER_NICKNAME
			 , INTRODUCE
			 , PROFILE_IMG
		  FROM TB_USER
		 WHERE STATUS = 'Y'
		   AND USER_NICKNAME = ?
	</entry>
	
	
	<entry key="selectDefaultAddress">
		SELECT
		       ADDRESS_NO
		     , ZIPCODE
		     , ADDRESS1
		     , ADDRESS2
		     , RECIPIENT
		     , PHONE
		  FROM TB_ADDRESS
		 WHERE DEFAULT_ADD = 'Y'
		   AND USER_NO = ?
	</entry>
	
	<entry key="updatePhone">
		UPDATE TB_USER
		   SET PHONE = ?
		 WHERE USER_ID = ?
		   		 

	</entry>
	
	<entry key="updatePwd">
		UPDATE TB_USER
		   SET USER_PWD = ?
		 WHERE USER_ID = ?
		 	AND STATUS = 'Y'
		 	  
	</entry>
	
	<entry key="selectUserForUpdateUser">
		SELECT 
			   USER_NO
			 , USER_ID
			 , USER_PWD
			 , USER_NAME
			 , USER_NICKNAME
			 , PHONE
			 , EMAIL
			 , ENROLL_DATE
			 , STATUS
			 , DELETE_DATE
			 , MANAGER_CHECK
			 , USER_ACC_BANK
			 , USER_ACC_NUMBER
			 , SHOP_BLOCK_DATE
			 , STYLE_BLOCK_DATE
			 , INTRODUCE
			 , PROFILE_IMG
		  FROM TB_USER
		 WHERE USER_ID = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="updateEmail">
		UPDATE TB_USER
		   SET EMAIL = ?
		 WHERE USER_ID = ?
		   		 

	</entry>
	
	<entry key="updateNickname">
		UPDATE
			   TB_USER
		   SET USER_NICKNAME = ?
		     , PROFILE_IMG = ?
		   	 , INTRODUCE = ?
		 WHERE USER_NO = ?
	</entry>
	
	<entry key="userSellList">
		SELECT
		    PRODUCT_IMG_M
		    ,PRODUCT_NAME_ENG
		    ,BRAND_NAME
		    ,DEAL_DATE
		    ,DEAL_STEP
		    ,BIDDING_NO
		FROM
			TB_PRODUCT
		JOIN TB_BRAND USING(BRAND_CODE)
		JOIN TB_BIDDING USING(PRODUCT_CODE)
			WHERE USER_NO = ?
			  	AND BIDDING_TYPE = 2
			    AND DEAL_CHECK != 'N'
		   		 

	</entry>
	
	<entry key="selectUserAcc">
		SELECT
		       USER_NO
		     , NVL(USER_ACC_BANK,'없음') "USER_ACC_BANK"
		     , NVL(USER_ACC_NUMBER,'없음') "USER_ACC_NUMBER"
		     , USER_NAME
		  FROM TB_USER
		 WHERE USER_NO = ?
	</entry>
	

	<entry key="userDetailImg">
		SELECT
		    PRODUCT_IMG_M
		    ,PRODUCT_NAME_ENG
		    ,BRAND_NAME
		    
		FROM
			TB_PRODUCT
		JOIN TB_BRAND USING(BRAND_CODE)
		JOIN TB_BIDDING USING(PRODUCT_CODE)
			WHERE BIDDING_NO = ?
			  	AND BIDDING_TYPE = 2
			    AND DEAL_CHECK != 'N'
	</entry>
	

	<entry key="selectAddressList">
		SELECT
		       ADDRESS_NO
		     , ZIPCODE
		     , ADDRESS1
		     , ADDRESS2
		     , RECIPIENT
		     , PHONE
		  FROM TB_ADDRESS
		 WHERE USER_NO = ?
		   AND DEFAULT_ADD = 'N'
		 ORDER
		    BY ADDRESS_NO DESC
	</entry>
	
	<entry key="updateUserAcc">
		UPDATE 
			   TB_USER
		   SET USER_ACC_BANK = ?,
		       USER_ACC_NUMBER = ?
		 WHERE USER_NO = ?
	</entry>
	
	<entry key="updatePaymentAndShipping">
		INSERT
		  INTO TB_ADDRESS
		  (
		  	ADDRESS_NO
		  , ZIPCODE
		  , ADDRESS1
		  , ADDRESS2
		  , RECIPIENT
		  , PHONE
		  , DEFAULT_ADD
		  , USER_NO
		  )
		  VALUES
		  (
		  	SEQ_ANO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectBasicAddress">
		SELECT 
			ADDRESS_NO
		  , ZIPCODE
		  , ADDRESS1
		  , ADDRESS2
		  , RECIPIENT
		  , PHONE
		  , USER_NO
		  , DEFAULT_ADD
		  FROM TB_ADDRESS
		 WHERE USER_NO = ?
		   
	</entry>
	
	<entry key="userSellBidding">
		SELECT
		    PRODUCT_IMG_M
		    ,PRODUCT_NAME_ENG
		    ,BRAND_NAME
		    ,BIDDING_DATE
		    ,BIDDING_NO
		FROM
			TB_PRODUCT
		JOIN TB_BRAND USING(BRAND_CODE)
		JOIN TB_BIDDING USING(PRODUCT_CODE)
			WHERE USER_NO = ?
			  	AND BIDDING_TYPE = 2
			    AND DEAL_CHECK = 'N'
		   		 

	</entry>
	
	<entry key="userDetailSellBidding">
		SELECT
		    B.PRODUCT_SIZE
		    ,BIDDING_PRICE
		    ,BIDDING_DATE
		    ,INSPECTION_COST
		    ,COMMISSION
		    ,DELIVERY_FEE
		    ,SELLER_NO
		    ,RECIPIENT_NAME
			,RECIPIENT_PHONE
			,RECIPIENT_ZIPCODE
			,RECIPIENT_ADDRESS
			,RECIPIENT_SHIPPING_MSG
			,BANK_NAME
			,BANK_ACCOUNT
			,BANK_OWNER_NAME
			,ADJUSTMENT_PRICE
			,PRODUCT_IMG_M
		    ,PRODUCT_NAME_ENG
		    ,PRODUCT_NAME_KO
		    ,DEAL_CHECK
		    
		FROM
			TB_BIDDING B
		JOIN TB_SELLER USING(BIDDING_NO)
		JOIN TB_PRODUCT USING(PRODUCT_CODE)
		
			WHERE BIDDING_NO = ?
			  	AND BIDDING_TYPE = 2
			    AND DEAL_CHECK = 'N'
		   		 

	</entry>
</properties>