<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectDealList">
		SELECT 
		       BIDDING_NO
		     , PRODUCT_SIZE
		     , BIDDING_PRICE
		     , TO_CHAR(DEAL_DATE, 'RRRR/MM/DD') "DEAL_DATE"
		  FROM TB_BIDDING
		 WHERE BIDDING_STATUS = 'Y'
		   AND DEAL_CHECK = 'Y'
		   AND PRODUCT_CODE = ?
		 ORDER
		    BY DEAL_DATE DESC
	</entry>
	
	<entry key="selectBuyBiddingList">
		SELECT
		       PRODUCT_SIZE
		     , BIDDING_PRICE
		     , COUNT(*) "COUNT"
		  FROM TB_BIDDING
		 WHERE BIDDING_STATUS = 'Y'
		   AND BIDDING_TYPE = 1
		   AND DEAL_CHECK = 'N'
		   AND PRODUCT_CODE = ?
		 GROUP
		    BY PRODUCT_SIZE, BIDDING_PRICE
		 ORDER
		    BY BIDDING_PRICE DESC
	</entry>
	
	<entry key="selectSellBiddingList">
		SELECT
		       PRODUCT_SIZE
		     , BIDDING_PRICE
		     , COUNT(*) "COUNT"
		  FROM TB_BIDDING
		 WHERE BIDDING_STATUS = 'Y'
		   AND BIDDING_TYPE = 2
		   AND DEAL_CHECK = 'N'
		   AND PRODUCT_CODE = ?
		 GROUP
		    BY PRODUCT_SIZE, BIDDING_PRICE
		 ORDER
		    BY BIDDING_PRICE
	</entry>
	
	<entry key="selectDealSizeList">
		SELECT 
		       BIDDING_NO
		     , PRODUCT_SIZE
		     , BIDDING_PRICE
		     , TO_CHAR(DEAL_DATE, 'RRRR/MM/DD') "DEAL_DATE"
		  FROM TB_BIDDING
		 WHERE BIDDING_STATUS = 'Y'
		   AND DEAL_CHECK = 'Y'
		   AND PRODUCT_CODE = ?
		   AND PRODUCT_SIZE = ?
		 ORDER
		    BY DEAL_DATE DESC
	</entry>
	
	<entry key="selectSellBiddingSizeList">
		SELECT
		       PRODUCT_SIZE
		     , BIDDING_PRICE
		     , COUNT(*) "COUNT"
		  FROM TB_BIDDING
		 WHERE BIDDING_STATUS = 'Y'
		   AND BIDDING_TYPE = 2
		   AND DEAL_CHECK = 'N'
		   AND PRODUCT_CODE = ?
		   AND PRODUCT_SIZE = ?
		 GROUP
		    BY PRODUCT_SIZE, BIDDING_PRICE
		 ORDER
		    BY BIDDING_PRICE
	</entry>
	
	<entry key="selectBuyBiddingSizeList">
		SELECT
		       PRODUCT_SIZE
		     , BIDDING_PRICE
		     , COUNT(*) "COUNT"
		  FROM TB_BIDDING
		 WHERE BIDDING_STATUS = 'Y'
		   AND BIDDING_TYPE = 1
		   AND DEAL_CHECK = 'N'
		   AND PRODUCT_CODE = ?
		   AND PRODUCT_SIZE = ?
		 GROUP
		    BY PRODUCT_SIZE, BIDDING_PRICE
		 ORDER
		    BY BIDDING_PRICE DESC
	</entry>
	
	<entry key="selectSellBiddingPriceList">
		SELECT
		       PRODUCT_SIZE
		     , MIN(BIDDING_PRICE) "BIDDING_PRICE"
		  FROM TB_BIDDING
		 WHERE BIDDING_STATUS = 'Y'
		   AND BIDDING_TYPE = 2
		   AND DEAL_CHECK = 'N'
		   AND PRODUCT_CODE = ?
		 GROUP
		    BY PRODUCT_SIZE
		 ORDER
		    BY PRODUCT_SIZE
	</entry>
	
	<entry key="selectBuyBiddingPriceList">
		SELECT
		       PRODUCT_SIZE
		     , MAX(BIDDING_PRICE) "BIDDING_PRICE"
		  FROM TB_BIDDING
		 WHERE BIDDING_STATUS = 'Y'
		   AND BIDDING_TYPE = 1
		   AND DEAL_CHECK = 'N'
		   AND PRODUCT_CODE = ?
		 GROUP
		    BY PRODUCT_SIZE
		 ORDER
		    BY PRODUCT_SIZE
	</entry>
	
	<entry key="selectSellBidding">
		SELECT
		       ROWNUM
		     , BIDDING_NO
		     , PRODUCT_CODE
		     , PRODUCT_SIZE
		     , BIDDING_PRICE
		     , DELIVERY_FEE
		  FROM (SELECT
		               ROWNUM
		             , BIDDING_NO
		             , PRODUCT_CODE
		             , PRODUCT_SIZE
		             , BIDDING_PRICE
		             , DELIVERY_FEE
		          FROM TB_BIDDING
		         WHERE BIDDING_TYPE = 2
		           AND DEAL_CHECK = 'N'
		           AND PRODUCT_CODE = ?
		           AND PRODUCT_SIZE = ?
		           AND BIDDING_PRICE = ?
		         ORDER
		            BY BIDDING_DATE ASC)
		 WHERE ROWNUM = 1
	</entry>
	
	<entry key="selectBuyBidding">
		SELECT
		       ROWNUM
		     , BIDDING_NO
		     , PRODUCT_CODE
		     , PRODUCT_SIZE
		     , BIDDING_PRICE
		     , INSPECTION_COST
		     , COMMISSION
		  FROM (SELECT
		               ROWNUM
		             , BIDDING_NO
		             , PRODUCT_CODE
		             , PRODUCT_SIZE
		             , BIDDING_PRICE
		             , INSPECTION_COST
		             , COMMISSION
		          FROM TB_BIDDING
		         WHERE BIDDING_TYPE = 1
		           AND DEAL_CHECK = 'N'
		           AND PRODUCT_CODE = ?
		           AND PRODUCT_SIZE = ?
		           AND BIDDING_PRICE = ?
		         ORDER
		            BY BIDDING_DATE ASC)
		 WHERE ROWNUM = 1
	</entry>
	
	<entry key="insertBidding">
		INSERT
		  INTO TB_BIDDING
		     (
		       BIDDING_NO
		     , PRODUCT_SIZE
		     , BIDDING_TYPE
		     , BIDDING_PRICE
		     , BIDDING_DATE
		     , INSPECTION_COST
		     , COMMISSION
		     , DELIVERY_FEE
		     , BIDDING_STATUS
		     , DEAL_CHECK
		     , PRODUCT_CODE
		     , USER_NO
		     )
		VALUES
		     (
		       SEQ_BNO.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , SYSDATE
		     , ?
		     , ?
		     , 3000
		     , 'Y'
		     , 'N'
		     , ?
		     , ?
		     )
	</entry>
	
	<entry key="insertSeller">
		INSERT
		  INTO TB_SELLER
		     (
		       BIDDING_NO
		     , SELLER_NO
		     , RECIPIENT_NAME
		     , RECIPIENT_PHONE
		     , RECIPIENT_ZIPCODE
		     , RECIPIENT_ADDRESS
		     , RECIPIENT_SHIPPING_MSG
		     , BANK_NAME
		     , BANK_ACCOUNT
		     , BANK_OWNER_NAME
		     , ADJUSTMENT_PRICE
		     )
		VALUES
		     (
		       SEQ_BNO.CURRVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     )
	</entry>
	
	<entry key="selectBiddingSuccess">
		SELECT 
		       ROWNUM
		     , BIDDING_NO
		     , BIDDING_PRICE
		     , INSPECTION_COST
		     , COMMISSION
		     , DELIVERY_FEE
		     , PRODUCT_IMG_M
		  FROM (SELECT 
		               ROWNUM
		             , BIDDING_NO
		             , BIDDING_PRICE
		             , INSPECTION_COST
		             , COMMISSION
		             , DELIVERY_FEE
		             , PRODUCT_IMG_M
		          FROM TB_BIDDING B
		          JOIN TB_PRODUCT USING (PRODUCT_CODE)
		         WHERE USER_NO = ?
		         ORDER
		            BY BIDDING_NO DESC)
		 WHERE ROWNUM = 1
	</entry>
	
	<entry key="updateDealCheck">
		UPDATE TB_BIDDING
		   SET DEAL_CHECK = 'Y',
		       DEAL_STEP = 0,
		       DEAL_DATE = SYSDATE
		 WHERE BIDDING_NO = ?
	</entry>
	
	<entry key="updateSeller">
		INSERT
		  INTO TB_SELLER
		     (
		       BIDDING_NO
		     , SELLER_NO
		     , RECIPIENT_NAME
		     , RECIPIENT_PHONE
		     , RECIPIENT_ZIPCODE
		     , RECIPIENT_ADDRESS
		     , RECIPIENT_SHIPPING_MSG
		     , BANK_NAME
		     , BANK_ACCOUNT
		     , BANK_OWNER_NAME
		     , ADJUSTMENT_PRICE
		     )
		VALUES
		     (
		       ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     )
	</entry>
	
	<entry key="selectSellImediatelySuccess">
		SELECT
		       BIDDING_NO
		     , BIDDING_PRICE
		     , INSPECTION_COST
		     , COMMISSION
		     , PRODUCT_IMG_M
		  FROM TB_BIDDING B
		  JOIN TB_PRODUCT USING (PRODUCT_CODE)
		 WHERE BIDDING_NO = ?
	</entry>
	
	<entry key="insertBuyer">
		INSERT
		  INTO TB_BUYER
		     (
		       BIDDING_NO
		     , BUYER_NO
		     , RECIPIENT_NAME
		     , RECIPIENT_PHONE
		     , RECIPIENT_ZIPCODE
		     , RECIPIENT_ADDRESS
		     , RECIPIENT_SHIPPING_MSG
		     , PAYMENT_NUMBER
		     , PAYMENT_METHOD
		     , PAYMENT_PRICE
		     )
		VALUES
		     (
		       SEQ_BNO.CURRVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     )
	</entry>
	
	<entry key="updateBuyer">
		INSERT
		  INTO TB_BUYER
		     (
		       BIDDING_NO
		     , BUYER_NO
		     , RECIPIENT_NAME
		     , RECIPIENT_PHONE
		     , RECIPIENT_ZIPCODE
		     , RECIPIENT_ADDRESS
		     , RECIPIENT_SHIPPING_MSG
		     , PAYMENT_NUMBER
		     , PAYMENT_METHOD
		     , PAYMENT_PRICE
		     )
		VALUES
		     (
		       ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     )
	</entry>
	
	<entry key="selectBuyImediatelySuccess">
		SELECT
		       BIDDING_NO
		     , BIDDING_PRICE
		     , DELIVERY_FEE
		     , PRODUCT_IMG_M
		  FROM TB_BIDDING B
		  JOIN TB_PRODUCT USING (PRODUCT_CODE)
		 WHERE BIDDING_NO = ?
	</entry>
</properties>