<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectNoticeCount">
		SELECT
			   COUNT(*) "COUNT"
	      FROM TB_NOTICE
	     WHERE DISPLAY_STATUS = 'Y'
	       AND DELETE_STATUS = 'N'
	</entry>
	
	<entry key="selectNoticeList">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, N.*
		          FROM (
		                SELECT
		                       NOTICE_NO
		                     , NOTICE_TITLE
		                     , TO_CHAR(CREATE_DATE, 'YYYY.MM.DD') "CREATE_DATE"
		                     , COUNT
		                  FROM TB_NOTICE
		                 WHERE DISPLAY_STATUS = 'Y'
		                   AND DELETE_STATUS = 'N'
		                 ORDER
		                    BY NOTICE_NO DESC
		                ) N
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchNoticeAllCount">
		SELECT
			   COUNT(*) "COUNT"
	      FROM TB_NOTICE
	     WHERE DISPLAY_STATUS = 'Y'
	       AND DELETE_STATUS = 'N'
	       AND (NOTICE_TITLE LIKE '%' || ? || '%') OR (NOTICE_CONTENT LIKE '%' || ? || '%')
	</entry>
	
	<entry key="searchNoticeTitleCount">
		SELECT
			   COUNT(*) "COUNT"
	      FROM TB_NOTICE
	     WHERE DISPLAY_STATUS = 'Y'
	       AND DELETE_STATUS = 'N'
	       AND NOTICE_TITLE LIKE '%' || ? || '%'
	</entry>

	<entry key="searchNoticeContentCount">
		SELECT
			   COUNT(*) "COUNT"
	      FROM TB_NOTICE
	     WHERE DISPLAY_STATUS = 'Y'
	       AND DELETE_STATUS = 'N'
	       AND NOTICE_CONTENT LIKE '%' || ? || '%'
	</entry>
	
	<entry key="searchNoticeListAll">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, N.*
		          FROM (
		                SELECT
		                       NOTICE_NO
		                     , NOTICE_TITLE
		                     , TO_CHAR(CREATE_DATE, 'YYYY.MM.DD') "CREATE_DATE"
		                     , COUNT
		                     , DISPLAY_STATUS
		                     , USER_NAME "NOTICE_WRITER"
		                  FROM TB_NOTICE
		                  JOIN TB_USER ON (USER_NO = NOTICE_WRITER)
		                 WHERE DISPLAY_STATUS = 'Y'
		                   AND DELETE_STATUS = 'N'
                           AND NOTICE_TITLE LIKE '%' || ? || '%'
                            OR NOTICE_CONTENT LIKE '%' || ? || '%'
		                 ORDER
		                    BY NOTICE_NO DESC
		                ) N
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchNoticeListTitle">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, N.*
		          FROM (
		                SELECT
		                       NOTICE_NO
		                     , NOTICE_TITLE
		                     , TO_CHAR(CREATE_DATE, 'YYYY.MM.DD') "CREATE_DATE"
		                     , COUNT
		                     , DISPLAY_STATUS
		                     , USER_NAME "NOTICE_WRITER"
		                  FROM TB_NOTICE
		                  JOIN TB_USER ON (USER_NO = NOTICE_WRITER)
		                 WHERE DISPLAY_STATUS = 'Y'
		                   AND DELETE_STATUS = 'N'
                           AND NOTICE_TITLE LIKE '%' || ? || '%'
		                 ORDER
		                    BY NOTICE_NO DESC
		                ) N
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchNoticeListContent">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, N.*
		          FROM (
		                SELECT
		                       NOTICE_NO
		                     , NOTICE_TITLE
		                     , TO_CHAR(CREATE_DATE, 'YYYY.MM.DD') "CREATE_DATE"
		                     , COUNT
		                     , DISPLAY_STATUS
		                     , USER_NAME "NOTICE_WRITER"
		                  FROM TB_NOTICE
		                  JOIN TB_USER ON (USER_NO = NOTICE_WRITER)
		                 WHERE DISPLAY_STATUS = 'Y'
		                   AND DELETE_STATUS = 'N'
                           AND NOTICE_CONTENT LIKE '%' || ? || '%'
		                 ORDER
		                    BY NOTICE_NO DESC
		                ) N
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="increaseNoticeCount">
		UPDATE TB_NOTICE
		   SET COUNT = COUNT+1
		 WHERE NOTICE_NO = ?
		   AND DISPLAY_STATUS = 'Y'
		   AND DELETE_STATUS = 'N'
	</entry>
	
	<entry key="selectNoticeDetail">
		SELECT 
			   NOTICE_NO
			 , NOTICE_TITLE
			 , NOTICE_CONTENT
			 , TO_CHAR(CREATE_DATE, 'YYYY.MM.DD') "CREATE_DATE"
			 , COUNT
		  FROM TB_NOTICE
		 WHERE DISPLAY_STATUS = 'Y'
		   AND DELETE_STATUS = 'N'
		   AND NOTICE_NO = ?
	</entry>
	
	<!-- faq -->
	<entry key="selectFaqListCountAll">
		SELECT
			   COUNT(*) "COUNT"
	      FROM TB_FAQ
	     WHERE STATUS = 'Y'
	</entry>
	
	<entry key="selectFaqListAll">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, F.*
		          FROM (
		                SELECT
		                       FAQ_NO
		                     , FAQ_QUESTION
                             , FAQ_ANSWER
                             , CATEGORY
		                  FROM TB_FAQ
		                 WHERE STATUS = 'Y'
		                 ORDER
		                    BY CATEGORY DESC
		                ) F
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectFaqListCount">
		SELECT
			   COUNT(*) "COUNT"		                      
          FROM TB_FAQ
         WHERE STATUS = 'Y'
           AND CATEGORY = ?
	</entry>
	
	<entry key="selectFaqList">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, F.*
		          FROM (
		                SELECT
		                       FAQ_NO
		                     , FAQ_QUESTION
                             , FAQ_ANSWER
                             , CATEGORY
		                  FROM TB_FAQ
		                 WHERE STATUS = 'Y'
                           AND CATEGORY = ?
		                 ORDER
		                    BY FAQ_NO DESC
		                ) F
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- faq 검색 결과 -->
	<entry key="selectFaqSearchCount">
			SELECT
			   COUNT(*) "COUNT"		                      
          FROM TB_FAQ
         WHERE STATUS = 'Y'
           AND FAQ_QUESTION LIKE '%' || ? || '%'
            OR FAQ_ANSWER LIKE '%' || ? || '%'
	</entry>
	
	<entry key="selectFaqSearchList">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, F.*
		          FROM (
		                SELECT
		                       FAQ_NO
		                     , FAQ_QUESTION
                             , FAQ_ANSWER
                             , CATEGORY
		                  FROM TB_FAQ
		                 WHERE STATUS = 'Y'
                           AND FAQ_QUESTION LIKE '%' || ? || '%'
            				OR FAQ_ANSWER LIKE '%' || ? || '%'
		                 ORDER
		                    BY FAQ_NO DESC
		                ) F
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 1:1문의 조회 -->
	<entry key="selectInquireCount">
		SELECT
			   COUNT(*) "COUNT"		                      
          FROM TB_INQUIRE
         WHERE INQUIRE_STATUS = 'Y'
           AND INQUIRE_USER = ?
	</entry>
	
	<entry key="selectInquireList">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, I.*
		          FROM (
		                SELECT
		                       INQUIRE_NO
		                     , INQUIRE_TITLE
		                     , INQUIRE_CONTENT
                             , TO_CHAR(INQUIRE_DATE, 'YYYY.MM.DD') "INQUIRE_DATE"
                             , INQUIRE_IMG
                             , ANSWER_CONTENT
                             , TO_CHAR(ANSWER_MODIFY_DATE, 'YYYY.MM.DD') "ANSWER_MODIFY_DATE"
                             , ANSWER_STATUS
                             , CATEGORY
		                  FROM TB_INQUIRE
		                 WHERE INQUIRE_STATUS = 'Y'
                           AND INQUIRE_USER = ?
		                 ORDER
		                    BY INQUIRE_NO DESC
		                ) I
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<!-- 1:1문의 삭제 -->
	<entry key="deleteInquire">
		UPDATE TB_INQUIRE
		   SET INQUIRE_STATUS = 'N'
		 WHERE INQUIRE_NO = ?
		   AND INQUIRE_STATUS = 'Y'
	</entry>
	
	<!-- 1:1 문의 등록 -->
	<entry key="insertInquire">
		INSERT
		  INTO TB_INQUIRE
			  (
			    INQUIRE_NO
			  , INQUIRE_TITLE
			  , INQUIRE_CONTENT
			  , INQUIRE_IMG
			  , INQUIRE_USER
			  , CATEGORY
			  )	
			  VALUES
			  (
			  	SEQ_INO.NEXTVAL
			  , ?
			  , ?
			  , ?
			  , ?
			  , ?
			  )
	</entry>
	
	<!-- 어드민 -->
	
	<!-- 공지사항 -->
	<entry key="selectAdminNoticeCount">
		SELECT
			   COUNT(*) "COUNT"
	      FROM TB_NOTICE
	     WHERE DELETE_STATUS = 'N'
	</entry>
	
	<entry key="selectAdminNoticeList">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, N.*
		          FROM (
		                SELECT
		                       NOTICE_NO
		                     , NOTICE_TITLE
		                     , TO_CHAR(CREATE_DATE, 'YYYY.MM.DD') "CREATE_DATE"
		                     , COUNT
		                     , DISPLAY_STATUS
		                     , USER_NAME "NOTICE_WRITER"
		                  FROM TB_NOTICE
		                  JOIN TB_USER ON (USER_NO = NOTICE_WRITER)
		                 WHERE DELETE_STATUS = 'N'
		                 ORDER
		                    BY NOTICE_NO DESC
		                ) N
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchAdminNoticeAllCount">
		SELECT
			   COUNT(*) "COUNT"
	      FROM TB_NOTICE
	     WHERE DELETE_STATUS = 'N'
	       AND (NOTICE_TITLE LIKE '%' || ? || '%') OR (NOTICE_CONTENT LIKE '%' || ? || '%')
	</entry>
	
	<entry key="searchAdminNoticeTitleCount">
		SELECT
			   COUNT(*) "COUNT"
	      FROM TB_NOTICE
	     WHERE DELETE_STATUS = 'N'
	       AND NOTICE_TITLE LIKE '%' || ? || '%'
	</entry>

	
	<entry key="searchAdminNoticeContentCount">
		SELECT
			   COUNT(*) "COUNT"
	      FROM TB_NOTICE
	     WHERE DELETE_STATUS = 'N'
	       AND NOTICE_CONTENT LIKE '%' || ? || '%'
	</entry>
	
	<entry key="searchAdminNoticeListAll">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, N.*
		          FROM (
		                SELECT
		                       NOTICE_NO
		                     , NOTICE_TITLE
		                     , TO_CHAR(CREATE_DATE, 'YYYY.MM.DD') "CREATE_DATE"
		                     , COUNT
		                     , DISPLAY_STATUS
		                     , USER_NAME "NOTICE_WRITER"
		                  FROM TB_NOTICE
		                  JOIN TB_USER ON (USER_NO = NOTICE_WRITER)
		                 WHERE DELETE_STATUS = 'N'
                           AND NOTICE_TITLE LIKE '%' || ? || '%'
                            OR NOTICE_CONTENT LIKE '%' || ? || '%'
		                 ORDER
		                    BY NOTICE_NO DESC
		                ) N
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchAdminNoticeListTitle">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, N.*
		          FROM (
		                SELECT
		                       NOTICE_NO
		                     , NOTICE_TITLE
		                     , TO_CHAR(CREATE_DATE, 'YYYY.MM.DD') "CREATE_DATE"
		                     , COUNT
		                     , DISPLAY_STATUS
		                     , USER_NAME "NOTICE_WRITER"
		                  FROM TB_NOTICE
		                  JOIN TB_USER ON (USER_NO = NOTICE_WRITER)
		                 WHERE DELETE_STATUS = 'N'
                           AND NOTICE_TITLE LIKE '%' || ? || '%'
		                 ORDER
		                    BY NOTICE_NO DESC
		                ) N
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="searchAdminNoticeListContent">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, N.*
		          FROM (
		                SELECT
		                       NOTICE_NO
		                     , NOTICE_TITLE
		                     , TO_CHAR(CREATE_DATE, 'YYYY.MM.DD') "CREATE_DATE"
		                     , COUNT
		                     , DISPLAY_STATUS
		                     , USER_NAME "NOTICE_WRITER"
		                  FROM TB_NOTICE
		                  JOIN TB_USER ON (USER_NO = NOTICE_WRITER)
		                 WHERE DELETE_STATUS = 'N'
                           AND NOTICE_CONTENT LIKE '%' || ? || '%'
		                 ORDER
		                    BY NOTICE_NO DESC
		                ) N
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectAdminNoticeDetail">
		SELECT 
			   NOTICE_NO
			 , NOTICE_TITLE
			 , NOTICE_CONTENT
			 , TO_CHAR(CREATE_DATE, 'YYYY.MM.DD') "CREATE_DATE"
			 , TO_CHAR(MODIFY_DATE, 'YYYY.MM.DD') "MODIFY_DATE"
			 , DISPLAY_STATUS
			 , USER_NAME "NOTICE_WRITER"
		  FROM TB_NOTICE
		  JOIN TB_USER ON (USER_NO = NOTICE_WRITER)
		 WHERE DELETE_STATUS = 'N'
		   AND NOTICE_NO = ?
	</entry>
	
	<entry key="insertNotice">
		INSERT
		  INTO TB_NOTICE
		  	 ( 
		  	   NOTICE_NO
		  	 , NOTICE_TITLE
		  	 , NOTICE_CONTENT
		  	 , DISPLAY_STATUS
		  	 , NOTICE_WRITER
		  	  )
		  	 VALUES
		  	 (
		  	   SEQ_NNO.NEXTVAL
		  	 , ?
		  	 , ?
		  	 , ?
		  	 , ?
		  	 )
	</entry>
	
	<entry key="updateNotice">
		UPDATE TB_NOTICE
		   SET NOTICE_TITLE = ?
		     , NOTICE_CONTENT = ?
		     , MODIFY_DATE = SYSDATE
		     , DISPLAY_STATUS = ?
		 WHERE NOTICE_NO = ?
	</entry>
	
	<entry key="deleteNotice">
		UPDATE TB_NOTICE
		   SET DELETE_STATUS = 'Y'
		 WHERE NOTICE_NO = ?
		   AND DELETE_STATUS = 'N'
	</entry>
	
	<!-- faq -->
	<entry key="selectAdminFaqListAll">
		 SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, F.*
		          FROM (
		                SELECT 
							   FAQ_NO
							 , FAQ_QUESTION
							 , FAQ_ANSWER
							 , TO_CHAR(CREATE_DATE, 'YYYY.MM.DD') "CREATE_DATE"
							 , TO_CHAR(MODIFY_DATE, 'YYYY.MM.DD') "MODIFY_DATE"
							 , CATEGORY
							 , USER_NAME "FAQ_WRITER"
						  FROM TB_FAQ T
						  JOIN TB_USER U ON (T.FAQ_WRITER = U.USER_NO)
						 WHERE T.STATUS = 'Y'
		                 ORDER
		                    BY FAQ_NO DESC
		                ) F
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="insertFaq">
		INSERT
		  INTO TB_FAQ
		  (
		  	FAQ_NO
		  , FAQ_QUESTION
		  , FAQ_ANSWER
		  , STATUS
		  , CATEGORY
		  , FAQ_WRITER
		  )
		  VALUES
		  (
		  	SEQ_FNO.NEXTVAL
		  , ?
		  , ?
		  , 'Y'
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectAdminFaqListCount">
		SELECT
			   COUNT(*) "COUNT"		                      
          FROM TB_FAQ
         WHERE STATUS = 'Y'
           AND CATEGORY = ?
	</entry>
	
	<entry key="selectAdminFaqList">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, F.*
		          FROM (
		                SELECT
		                       FAQ_NO
		                     , FAQ_QUESTION
                             , FAQ_ANSWER
                             , CATEGORY
                             , USER_NAME "FAQ_WRITER"
		                  FROM TB_FAQ T
		                  JOIN TB_USER ON(FAQ_WRITER = USER_NO)
		                 WHERE T.STATUS = 'Y'
                           AND CATEGORY = ?
		                 ORDER
		                    BY FAQ_NO DESC
		                ) F
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="updateFaq">
		UPDATE TB_FAQ
		   SET FAQ_QUESTION = ?
		     , FAQ_ANSWER = ?
		     , CATEGORY = ?
		     , FAQ_WRITER = ?
		     , MODIFY_DATE = SYSDATE
		 WHERE FAQ_NO = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="deleteFaq">
		UPDATE TB_FAQ
		   SET STATUS = 'N'
		 WHERE FAQ_NO = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="selectAdminInquireCount">
		SELECT
			   COUNT(*) "COUNT"
	      FROM TB_INQUIRE
	     WHERE INQUIRE_STATUS = 'Y'
	</entry>
	
	<entry key="selectAdminInquireList">
		SELECT * 
  		  FROM (
		        SELECT ROWNUM RNUM, I.*
		          FROM (
		                SELECT
		                       INQUIRE_NO
		                     , INQUIRE_TITLE
                             , TO_CHAR(INQUIRE_DATE, 'YYYY.MM.DD') "INQUIRE_DATE"
                             , TO_CHAR(ANSWER_MODIFY_DATE, 'YYYY.MM.DD') "ANSWER_MODIFY_DATE"
                             , ANSWER_STATUS
                             , (SELECT USER_ID 
                                 FROM TB_USER
                                WHERE USER_NO = INQUIRE_USER) "INQUIRE_USER"
                             , USER_NAME "ANSWER_USER"
                             , CATEGORY
		                  FROM TB_INQUIRE T
		                  LEFT JOIN TB_USER ON (ANSWER_USER = USER_NO)
		                 WHERE INQUIRE_STATUS = 'Y'
		                 ORDER
		                    BY INQUIRE_NO DESC
		                ) I
       			)
 		  WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectAdminInquireDetail">
		SELECT
			   INQUIRE_NO
			 , INQUIRE_TITLE
			 , INQUIRE_CONTENT
			 , TO_CHAR(INQUIRE_DATE, 'YYYY.MM.DD') "INQUIRE_DATE"
			 , INQUIRE_IMG
			 , ANSWER_CONTENT
			 , TO_CHAR(ANSWER_DATE, 'YYYY.MM.DD') "ANSWER_DATE"
			 , TO_CHAR(ANSWER_MODIFY_DATE, 'YYYY.MM.DD') "ANSWER_MODIFY_DATE"
			 , ANSWER_STATUS
			 , (SELECT USER_ID 
                  FROM TB_USER
                 WHERE USER_NO = INQUIRE_USER) "INQUIRE_USER"
             , USER_NAME "ANSWER_USER"
			 , CATEGORY
	      FROM TB_INQUIRE
	      LEFT 
	      JOIN TB_USER ON (ANSWER_USER = USER_NO)
	      WHERE INQUIRE_STATUS = 'Y'
	        AND INQUIRE_NO = ?
	</entry>
	
	<entry key="updateAnswer">
		UPDATE TB_INQUIRE
		   SET ANSWER_CONTENT = ?
		     , ANSWER_MODIFY_DATE = SYSDATE
		     , ANSWER_STATUS = 'Y'
		     , ANSWER_USER = ?
		 WHERE INQUIRE_NO = ?
	</entry>
</properties>