<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="selectProductList">
		SELECT
			   PRODUCT_CODE
			 , PRODUCT_NAME_KO
			 , PRODUCT_NAME_ENG
			 , PRODUCT_IMG_M
			 , BRAND_NAME
			 , PRODUCT_CATEGORY
	      FROM TB_PRODUCT 
	      JOIN TB_BRAND USING(BRAND_CODE)
	     WHERE BLIND_CHECK ='N'
	</entry>
	
	<entry key="selectBrandList">
		SELECT
			   BRAND_NAME
			 , BRAND_IMG
		  FROM TB_BRAND
	</entry>
	
	<entry key="selectProductListPage">
		SELECT *
		  FROM (
		  		SELECT
		  			   ROWNUM RNUM
		  			 , A.*
		  		  FROM (
		  		  		SELECT
		  		  			   PRODUCT_CODE
							 , PRODUCT_NAME_KO
							 , PRODUCT_NAME_ENG
							 , PRODUCT_IMG_M
							 , BRAND_NAME
							 , COUNT
						  FROM (
						  		SELECT
						  			   PRODUCT_CODE
						  			 , COUNT(*) "COUNT"
						  		  FROM TB_LIKE
						  		 GROUP
						  		    BY PRODUCT_CODE
						  		 ORDER
						  		    BY COUNT DESC
						  	   )
						    RIGHT JOIN TB_PRODUCT P USING (PRODUCT_CODE)
                                  JOIN TB_BRAND USING(BRAND_CODE)
						    	 WHERE P.BLIND_CHECK = 'N'
						  ) A  
		  		 )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectProductSort">
		SELECT *
		  FROM (
		  		SELECT
		  			   ROWNUM RNUM
		  			 , A.*
		  		  FROM (
		  		  		SELECT
		  		  			   PRODUCT_CODE
							 , PRODUCT_NAME_KO
							 , PRODUCT_NAME_ENG
							 , PRODUCT_IMG_M
							 , BRAND_NAME
							 , COUNT
						  FROM (
						  		SELECT
						  			   PRODUCT_CODE
						  			 , COUNT(*) "COUNT"
						  		  FROM TB_LIKE
						  		 GROUP
						  		    BY PRODUCT_CODE
						  		 ORDER
						  		    BY ENROLL_DATE DESC
						  	   )
						    RIGHT JOIN TB_PRODUCT P USING (PRODUCT_CODE)
                                  JOIN TB_BRAND USING(BRAND_CODE)
						    	 WHERE P.BLIND_CHECK = 'N'
						  ) A  
		  		 )
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	
	
	
	<entry key="selectProductSearchList">
		SELECT
			   PRODUCT_CODE
			 , PRODUCT_NAME_KO
			 , PRODUCT_NAME_ENG
			 , PRODUCT_IMG_M
	      FROM TB_PRODUCT 
	     WHERE BLIND_CHECK ='N'
	       AND PRODUCT_NAME_KO LIKE '%' || ? || '%' 
		    OR PRODUCT_NAME_ENG LIKE '%' || ? || '%'
		   
	</entry>
	
	
	<entry key="clickLike">
		SELECT 
			   PRODUCT_CODE
			   COUNT(USER_NO) "LIKE"
		  FROM TB_PRODUCT
		  LEFT JOIN TB_LIKE USING (PRODUCT_CODE)
		 GROUP
            BY PRODUCT_CODE
	</entry>
	
	
	<entry key="insertLike">
		INSERT
		  INTO TB_LIKE
		  (
		  	USER_NO
		  , PRODUCT_CODE	
		  )
		  VALUES
		  (
		  	?
		  ,	?
		  )
	
	</entry>
	
	<entry key="deleteLike">
		DELETE
		  FROM TB_LIKE
		 WHERE USER_NO =?
		   AND PRODUCT_CODE=?
	</entry>
	
	<entry key="selectProductFilter">
		SELECT
			   PRODUCT_CODE
			 , PRODUCT_NAME_KO
		     , PRODUCT_NAME_ENG
		     , PRODUCT_IMG_M
			 , PRODUCT_CATEGORY
			 , PRODUCT_SIZE
			 , BRAND_NAME
		  FROM TB_PRODUCT 
		  JOIN TB_BRAND USING (BRAND_CODE)
	     WHERE BLIND_CHECK ='N'
	       AND PRODUCT_CATEGORY = ?
	        
	</entry>
	
	
	
	
	<entry key="selectProduct">
		SELECT
		       PRODUCT_CODE
		     , PRODUCT_NAME_KO
		     , PRODUCT_NAME_ENG
		     , MODEL_CODE
		     , PRODUCT_IMG_M
		     , PRODUCT_SIZE
		     , BRAND_NAME
		     , COLOR
		     , RELEASE_DATE
		     , RELEASE_PRICE
		  FROM TB_PRODUCT
		  JOIN TB_BRAND USING (BRAND_CODE)
		 WHERE PRODUCT_CODE = ?
	</entry>
	
	<entry key="selectProductImg">
		SELECT
		       PRODUCT_IMG_NO
		     , P_FILE_PATH
		  FROM TB_PD_IMG
		 WHERE P_STATUS = 'Y'
		   AND PRODUCT_CODE = ?
		 ORDER
		    BY P_FILE_LEVEL ASC
	</entry>
	
	<entry key="selectPdSearchList">
		SELECT
		       PRODUCT_CODE
		     , PRODUCT_NAME_KO
		     , PRODUCT_NAME_ENG
		     , PRODUCT_IMG_M
		     , BRAND_NAME
		  FROM TB_PRODUCT
		  JOIN TB_BRAND USING (BRAND_CODE)
		 WHERE BLIND_CHECK = 'N'
		   AND PRODUCT_NAME_KO LIKE '%' || ? || '%' 
		    OR PRODUCT_NAME_ENG LIKE '%' || ? || '%'
		 ORDER
		    BY PRODUCT_NAME_KO ASC
	</entry>
	
	<entry key="selectPCode">
		SELECT
		       PRODUCT_CODE
		     , PRODUCT_NAME_KO
		     , PRODUCT_NAME_ENG
		     , PRODUCT_IMG_M
		     , BRAND_NAME
		  FROM TB_PRODUCT
		  JOIN TB_BRAND USING (BRAND_CODE)
		 WHERE PRODUCT_CODE = ?
	</entry>
	
	<entry key ="selectAdProductList">
		SELECT
		 	   PRODUCT_CODE
			 , PRODUCT_NAME_KO
			 , PRODUCT_NAME_ENG
			 , MODEL_CODE
			 , BLIND_CHECK
			 , ENROLL_DATE
			 , PRODUCT_CATEGORY
			 , PRODUCT_SIZE
			 , BRAND_NAME
	      FROM TB_PRODUCT 
	      JOIN TB_BRAND USING (BRAND_CODE)
	     ORDER
	        BY ENROLL_DATE DESC
	</entry>
	
	<entry key ="selectAdBrandList">
		SELECT
			   BRAND_NAME
			 , BRAND_CODE
			 , BRAND_IMG
		  FROM TB_BRAND
	
	</entry>
	
	<entry key = "searchProductCount">
		SELECT
			   COUNT(*) "COUNT"
		  FROM TB_PRODUCT
		 	   
	</entry>
	
	<entry key="selectProductSearchList">
		SELECT
			   PRODUCT_CODE
			 , PRODUCT_NAME_KO
			 , PRODUCT_NAME_ENG
			 , MODEL_CODE
			 , BLIND_CHECK
			 , ENROLL_DATE
			 , PRODUCT_CATEGORY
			 , PRODUCT_SIZE
			 , BRAND_NAME
	      FROM TB_PRODUCT 
	     WHERE PRODUCT_NAME_KO LIKE '%' || ? || '%' 
		    OR PRODUCT_NAME_ENG LIKE '%' || ? || '%'

	</entry>
	
	<entry key = "increaseCount">
		UPDATE
			   TB_PRODUCT
		   SET COUNT = COUNT +1
		 WHERE PRODUCT_CODE = ?
	</entry>
	
	<entry key="selectProductDetail">
		SELECT
		 	   PRODUCT_CODE
			 , PRODUCT_NAME_KO
			 , PRODUCT_NAME_ENG
			 , MODEL_CODE
			 , PRODUCT_IMG_M
			 , BLIND_CHECK
			 , ENROLL_DATE
			 , PRODUCT_CATEGORY
			 , PRODUCT_SIZE
			 , BRAND_NAME
	      FROM TB_PRODUCT 
	      JOIN TB_BRAND USING (BRAND_CODE)
	     WHERE PRODUCT_CODE = ?  
	</entry>
	
	<entry key = "selectAdProductImg">
		SELECT
		       FILE_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , FILE_PATH
		  FROM TB_PD_IMG
		 WHERE PRODUCT_CODE = ?		 
		 ORDER
            BY FILE_LEVEL ASC
     </entry>       
     
     
     <entry key = "insertProduct">
     	INSERT
     	  INTO TB_PRODUCT
     	  (
     	  	PRODUCT_CODE
     	  	PRODUCT_NAME_KO
     	  	PRODUCT_NAME_ENG
     	  	PRODUCT_CATEGORY
     	  )
     	  VALUES
     	  (
     	  	SEQ_PNO.NEXTVAL
     	  , ?
     	  , ?
     	  , ?
     	  )
     </entry>
     
     
     <entry key = "updateProduct">
     	UPDATE
     		   PRODUCT
     	   SET 
     	 WHERE  
     </entry>
     
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
	  <entry key="selectCountLike">
			SELECT COUNT(*) "LIKECOUNT"
			  FROM TB_LIKE
			 WHERE PRODUCT_CODE = ?
	  </entry>
     
      <entry key="selectUserLike">
      		SELECT COUNT(*) "LIKE"
			  FROM TB_LIKE
			 WHERE USER_NO = ?
			   AND PRODUCT_CODE = ?
      </entry>
     
     
     
     
     
</properties>