<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectProductList">
		SELECT
			   PRODUCT_CODE
			 , PRODUCT_NAME_KO
			 , PRODUCT_NAME_ENG
			 , PRODUCT_IMG_M
			 , BRAND_NAME
	      FROM TB_PRODUCT 
	      JOIN TB_BRAND USING(BRAND_CODE)
	     WHERE BLIND_CHECK ='N'
	</entry>
	
	<entry key="selectBrandList">
		SELECT
			   BRAND_NAME
			 , BRAND_IMG
		  FROM TB_BRAND
	</entry>
	
	<entry key="selectProductListPage">
		SELECT *
		  FROM (
		  		SELECT
		  			   ROWNUM RNUM
		  			 , A.*
		  		  FROM (
		  		  		SELECT
		  		  			   PRODUCT_CODE
							 , PRODUCT_NAME_KO
							 , PRODUCT_NAME_ENG
							 , PRODUCT_IMG_M
							 , BRAND_NAME
						  FROM TB_PRODUCT
						  
		  		  		)
		  		 
		  		)
				
		
	
	</entry>
	
	
	
	<entry key="selectProductSearchList">
		SELECT
			   PRODUCT_CODE
			 , PRODUCT_NAME_KO
			 , PRODUCT_NAME_ENG
			 , MODEL_CODE
			 , PRODUCT_IMG_M
			 , BRAND_NAME
	      FROM TB_PRODUCT 
	      JOIN TB_BRAND USING(BRAND_CODE)
	     WHERE BLIND_CHECK ='N'
	      AND PRODUCT_NAME_KO LIKE '%' || ? || '%' 
		   OR PRODUCT_NAME_ENG LIKE '%' || ? || '%'
	</entry>
	
	<entry key="insertLike">
		INSERT
		  INTO TB_LIKE
		  (
		  	USER_NO
		  , PRODUCT_CODE	
		  )
		  VALUES
		  (
		  	?
		  ,	?
		  )
	
	</entry>
	
	<entry key="deleteLike">
		DELETE
		  FROM TB_LIKE
		 WHERE USER_NO =?
		   AND PRODUCT_CODE=?
	</entry>
	
	
	
	<entry key="selectProduct">
		SELECT
		       PRODUCT_CODE
		     , PRODUCT_NAME_KO
		     , PRODUCT_NAME_ENG
		     , MODEL_CODE
		     , PRODUCT_IMG_M
		     , PRODUCT_SIZE
		     , BRAND_NAME
		     , COLOR
		     , RELEASE_DATE
		     , RELEASE_PRICE
		  FROM TB_PRODUCT
		  JOIN TB_BRAND USING (BRAND_CODE)
		 WHERE PRODUCT_CODE = ?
	</entry>
	
	<entry key="selectProductImg">
		SELECT
		       PRODUCT_IMG_NO
		     , P_FILE_PATH
		  FROM TB_PD_IMG
		 WHERE P_STATUS = 'Y'
		   AND PRODUCT_CODE = ?
		 ORDER
		    BY P_FILE_LEVEL ASC
	</entry>
</properties>