<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="userLogin">
		SELECT 
			   USER_NO
			 , USER_ID
			 , USER_PWD
			 , USER_NAME
			 , USER_NICKNAME
			 , PHONE
			 , EMAIL
			 , ENROLL_DATE
			 , STATUS
			 , DELETE_DATE
			 , MANAGER_CHECK
			 , USER_ACC_BANK
			 , USER_ACC_NUMBER
			 , SHOP_BLOCK_DATE
			 , STYLE_BLOCK_DATE
			 , INTRODUCE
			 , PROFILE_IMG
		  FROM TB_USER
		 WHERE USER_ID = ?
		   AND USER_PWD = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="insertUser">
		INSERT
		  INTO TB_USER
		  (
		  	USER_NO
		  , USER_ID
		  , USER_PWD
		  , USER_NAME
		  , USER_NICKNAME
		  , PHONE
		  , EMAIL
		  )
		  VALUES
		  (
		  	SEQ_UNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="insertAdd">
		INSERT
		  INTO TB_ADDRESS
		  (
		  	ADDRESS_NO
		  , ZIPCODE
		  , ADDRESS1
		  , ADDRESS2
		  , RECIPIENT
		  , PHONE
		  , DEFAULT_ADD
		  , USER_NO
		  )
		  VALUES
		  (
		  	SEQ_ANO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , 'Y'
		  , SEQ_UNO.CURRVAL
		  )
	</entry>
	
	<entry key="idCheck">
		SELECT
			   COUNT (*) "COUNT"
		  FROM TB_USER
		 WHERE USER_ID = ?
	</entry>
	
	<entry key="findId">
		SELECT
			   USER_NO
			 , USER_ID
			 , USER_NAME
			 , EMAIL
		  FROM TB_USER
		 WHERE USER_NAME = ?
		   AND EMAIL = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="findPwd">
		SELECT
			   USER_NO
			 , USER_ID
			 , USER_NAME
			 , EMAIL
		  FROM TB_USER
		 WHERE USER_ID = ?
		   AND USER_NAME = ?
		   AND EMAIL = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="setNewPwd">
		UPDATE TB_USER
		   SET USER_PWD = ?
		 WHERE USER_ID = ? 
	</entry>
	
	<entry key="deleteUser">
		UPDATE TB_USER
		   SET STATUS = 'N'
		  ,DELETE_DATE = SYSDATE
		 WHERE USER_ID = ?
		   AND USER_PWD = ?
		 
	</entry>
	


	<entry key="selectUserByNickname">
		SELECT
			   USER_NO
			 , USER_ID
			 , USER_NICKNAME
			 , INTRODUCE
			 , PROFILE_IMG
		  FROM TB_USER
		 WHERE STATUS = 'Y'
		   AND USER_NICKNAME = ?
	</entry>
	
	
	<entry key="selectDefaultAddress">
		SELECT
		       ADDRESS_NO
		     , ZIPCODE
		     , ADDRESS1
		     , ADDRESS2
		     , RECIPIENT
		     , PHONE
		  FROM TB_ADDRESS
		 WHERE DEFAULT_ADD = 'Y'
		   AND USER_NO = ?
	</entry>
	
	<entry key="updatePhone">
		UPDATE TB_USER
		   SET PHONE = ?
		 WHERE USER_ID = ?
		   
		 

	</entry>
</properties>